body {
  background-color: darkgrey;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header {
  font-size: 2rem;
  text-align: center;
  margin: 10px;
}
.nav {
  justify-content: center;
  display: flex;
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
}
.nav li {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.nav li:hover {
  background-color: #ddd;
  color: black;
}
.nav li.active {
  background-color: #04aa6d;
  color: white;
}

.articleCard {
  width: 60%;
  box-shadow: 4px 5px 10px 5px rgba(0, 0, 0, 0.45);
  margin: 10px;
  text-align: left;
  padding: 10px;
}
.articleCard:hover {
  background-color: rgb(148, 148, 148);
  color: black;
}
.article {
  position: absolute;
  width: 60%;
  box-shadow: 4px 5px 10px 5px rgba(0, 0, 0, 0.45);
  margin: 10px;
  justify-content: center;
  text-align: left;
  padding: 10px;
}
.article-comments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.single-comment {
  width: 40%;
  box-shadow: 4px 5px 10px 5px rgba(0, 0, 0, 0.45);
  margin: 10px;
  text-align: left;
  padding: 10px;
}
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.addCommentBox {
  width: 300px;
}
.loginText {
  text-align: center;
}
